@import "../../node_modules/ress/ress.css";
@import "./reset.scss";
@import "./loading.scss";

$menu-togglewidth: 10vw;

html,
body {
    overflow: hidden;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    .maintitle {
        margin-right: auto;
        margin-left: 20px;
        font-size: 50px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0 20px;
        li {
            font-size: 150%;
            margin: 20px;
        }
    }
}
